Calculadora w/Entregable Aplicacion Calculadora/Calculadora w/Connected Services/ServidorCalculadoraW/WS_Test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicio/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WS_Test" targetNamespace="http://Servicio/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WS_Test-war/WS_Test?xsd=1" namespace="http://Servicio/" />
    </xsd:schema>
  </types>
  <message name="divide">
    <part name="parameters" element="tns:divide" />
  </message>
  <message name="divideResponse">
    <part name="parameters" element="tns:divideResponse" />
  </message>
  <message name="resta">
    <part name="parameters" element="tns:resta" />
  </message>
  <message name="restaResponse">
    <part name="parameters" element="tns:restaResponse" />
  </message>
  <message name="multiplica">
    <part name="parameters" element="tns:multiplica" />
  </message>
  <message name="multiplicaResponse">
    <part name="parameters" element="tns:multiplicaResponse" />
  </message>
  <message name="suma">
    <part name="parameters" element="tns:suma" />
  </message>
  <message name="sumaResponse">
    <part name="parameters" element="tns:sumaResponse" />
  </message>
  <portType name="WS_Test">
    <operation name="divide">
      <input wsam:Action="http://Servicio/WS_Test/divideRequest" message="tns:divide" />
      <output wsam:Action="http://Servicio/WS_Test/divideResponse" message="tns:divideResponse" />
    </operation>
    <operation name="resta">
      <input wsam:Action="http://Servicio/WS_Test/restaRequest" message="tns:resta" />
      <output wsam:Action="http://Servicio/WS_Test/restaResponse" message="tns:restaResponse" />
    </operation>
    <operation name="multiplica">
      <input wsam:Action="http://Servicio/WS_Test/multiplicaRequest" message="tns:multiplica" />
      <output wsam:Action="http://Servicio/WS_Test/multiplicaResponse" message="tns:multiplicaResponse" />
    </operation>
    <operation name="suma">
      <input wsam:Action="http://Servicio/WS_Test/sumaRequest" message="tns:suma" />
      <output wsam:Action="http://Servicio/WS_Test/sumaResponse" message="tns:sumaResponse" />
    </operation>
  </portType>
  <binding name="WS_TestPortBinding" type="tns:WS_Test">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="divide">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="resta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="multiplica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="suma">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_Test">
    <port name="WS_TestPort" binding="tns:WS_TestPortBinding">
      <soap:address location="http://localhost:8080/WS_Test-war/WS_Test" />
    </port>
  </service>
</definitions>