Calculadora w/Entregable Aplicacion Calculadora/Calculadora w/Connected Services/ServidorCalculadoraW/WS_Test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicio/" targetNamespace="http://Servicio/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="divide" type="tns:divide" />
  <xs:element name="divideResponse" type="tns:divideResponse" />
  <xs:element name="multiplica" type="tns:multiplica" />
  <xs:element name="multiplicaResponse" type="tns:multiplicaResponse" />
  <xs:element name="resta" type="tns:resta" />
  <xs:element name="restaResponse" type="tns:restaResponse" />
  <xs:element name="suma" type="tns:suma" />
  <xs:element name="sumaResponse" type="tns:sumaResponse" />
  <xs:complexType name="resta">
    <xs:sequence>
      <xs:element name="num1" type="xs:int" />
      <xs:element name="num2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="divide">
    <xs:sequence>
      <xs:element name="num1" type="xs:float" />
      <xs:element name="num2" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="divideResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="suma">
    <xs:sequence>
      <xs:element name="num1" type="xs:int" />
      <xs:element name="num2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sumaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="multiplica">
    <xs:sequence>
      <xs:element name="num1" type="xs:float" />
      <xs:element name="num2" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="multiplicaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>